###############################################################################
## Option Settings
##    Namespace: "aws:elasticbeanstalk:application:environment"
##    OptionName: WebRequestCWLogGroup
##       Default:   <EnvironmentName>-webrequests
##    Description: This is the name of the cloudwatch log group for web requests (access log)
##
## To get an SNS alert, add a subscription to the Elastic Beanstalk Notification
##   topic.  (e.g. set your Notificiation Endpoint to your email address)
##
## Metrics
##  Namespace:  ElasticBeanstalk/<EnvironmentName>
##  Metrics:    CWLHttp4xx  CWLHttp5xx
##
## Cloudwatch Alarms
##   CWLHttp5xxCount   - this alarm fires if the number of calls returning
##                        5xx response codes > 10
##   CWLHttp4xxPercent - this alarm fires if the percentage of calls returning
##                        4xx response codes > 10%
##
###############################################################################

# Nginx access log pattern:
# $remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$http_x_forwarded_for"
Mappings:
  CWLogs:
    WebRequestLogGroup:
      LogFile: "/var/log/nginx/access.log"
      TimestampFormat: "%d/%b/%Y:%H:%M:%S %z"
    ApplicationLogGroup:
      LogFile: "/var/log/eb-docker/containers/eb-current-app/*"
      TimestampFormat: "%d/%b/%Y:%H:%M:%S %z"
    DockerLogGroup:
      LogFile: "/var/log/eb-docker/containers/eb-current-app/*"
      TimestampFormat: "%d/%b/%Y:%H:%M:%S %z"
    FilterPatterns:
      Http4xxMetricFilter: "[..., status=4*, size, referer, agent, xforward]"
      HttpNon4xxMetricFilter: "[..., status!=4*, size, referer, agent, xforward]"
      Http5xxMetricFilter: "[..., status=5*, size, referer, agent, xforward]"
      HttpNon5xxMetricFilter: "[..., status!=5*, size, referer, agent, xforward]"
      HelloWorldMetricFilter: "Hello World"

Resources :

  ## Register the files/log groups for monitoring
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            ## any .conf file put into /tmp/cwlogs/conf.d will be added to the cwlogs config (see cwl-agent.config)
            "/tmp/cwlogs/conf.d/cwlogs.conf":
              content : |
                [general]
                log_group_name = `{"Fn::GetOptionSetting": {"OptionName" : "EBLogGroup", "DefaultValue": "elas-Demo-P83H9L9DHEP6-webrequests"}}`
                datetime_format = `{"Fn::FindInMap":["CWLogs", "WebRequestLogGroup", "TimestampFormat"]}`
                [nginx-access_log]
                log_group_name = `{"Fn::GetOptionSetting": {"OptionName" : "EBLogGroup", "DefaultValue": "elas-Demo-P83H9L9DHEP6-webrequests"}}`
                file = `{"Fn::FindInMap":["CWLogs", "WebRequestLogGroup", "LogFile"]}`
                log_stream_name = {instance_id}_web_request
                [application_log]
                file = `{"Fn::FindInMap":["CWLogs", "ApplicationLogGroup", "LogFile"]}`
                log_group_name = `{"Fn::GetOptionSetting": {"OptionName" : "EBLogGroup", "DefaultValue": "elas-Demo-P83H9L9DHEP6-webrequests"}}`
                log_stream_name = {instance_id}_application
                [application_log]
                file = `{"Fn::FindInMap":["CWLogs", "ApplicationLogGroup", "LogFile"]}`
                log_group_name = `{"Fn::GetOptionSetting": {"OptionName" : "EBLogGroup", "DefaultValue": "elas-Demo-P83H9L9DHEP6-webrequests"}}`
                log_stream_name = {instance_id}_application
              mode  : "000400"
              owner : root
              group : root
