Mappings:
  CWLogs:
    WebRequestLogGroup:
      LogFile: "/var/log/nginx/access.log"
      TimestampFormat: "%d/%b/%Y:%H:%M:%S %z"
    ApplicationLogGroup:
      LogFile: "/var/log/eb-docker/containers/eb-current-app/*"
      TimestampFormat: "%d/%b/%Y:%H:%M:%S %z"

Resources :

  ## Register the files/log groups for monitoring
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            "/tmp/cwlogs/conf.d/cwlogs.conf":
              content : |
                [general]
                datetime_format = `{"Fn::FindInMap":["CWLogs", "WebRequestLogGroup", "TimestampFormat"]}`
                [nginx-access_log]
                log_group_name = `{"Fn::GetOptionSetting": {"OptionName" : "EBLogGroup"}}`
                file = `{"Fn::FindInMap":["CWLogs", "WebRequestLogGroup", "LogFile"]}`
                log_stream_name = {instance_id}_web_request
                [application_log]
                file = `{"Fn::FindInMap":["CWLogs", "ApplicationLogGroup", "LogFile"]}`
                log_group_name = `{"Fn::GetOptionSetting": {"OptionName" : "EBLogGroup"}}`
                log_stream_name = {instance_id}_application
              mode  : "000400"
              owner : root
              group : root
